# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
!Bison.exe
!Flex.exe

# Visual Studio Stuff
*.bsc
*.cnt
*.exp
*.ipch
*.log
*.map
*.opensdf
*.pdb
*.res
*.sbr
*.sdf
*.suo
*.tlog

# Engine Generated Stuff
Sources/Engine/Classes/*.h
Sources/Engine/Classes/*.cpp

# EntitiesMP Generated Stuff
Sources/EntitiesMP/*.cpp
Sources/EntitiesMP/*.h
!Sources/EntitiesMP/Common/*
!Sources/EntitiesMP/StdH/*

# Game Generated Stuff
Data/*.bin
Data/*.gms
Players/*
Temp/ConsoleHistory.txt